config.ini

.vscode

default_session.session-journal

myenv

default_session.session

*.session

*.bak

goldTradingGeniusXM.py

messageForwarderSingleTrade.py

config.ini
session.session
*.session
*.session-journal